<!DOCTYPE html>
<html>
	<head>
		<title>
			Blogs
		</title>
		<!-- <script src="../../static/htmx.min.js"></script> -->
		<script src="https://unpkg.com/htmx.org@1.9.9"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
		<link rel="stylesheet" href="../../static/styles.css"/>
	</head>
	<body>
		<h1>Blogs</h1>
        <div id="users" class="my-8">
            {{ block "Users" . }}
            {{ range . }}
                <div class="grid grid-cols-7 gap-2 mt-4">
                    <p class="col-span-5 {{if .Done }} line-through {{end}}">
                        {{.User}}
                    </p>
                    <button class="btn btn-success"
                        hx-put="/todo/{{.Id}}"
                        hx-target="#todos"
                        hx-swap="innerHTML">
                        &#10003;
                    </button>
                    <button class="btn btn-error"
                        hx-delete="/todo/{{.Id}}"
                        hx-target="#todos"
                        hx-swap="innerHTML">
                        &#x2717;
                    </button>
                </div>
            {{ end }}
            {{ end }}

        </div>

	</body>
</html>

