<!DOCTYPE html>
<html>
	<head>
		<title>
			Blogs
		</title>
		<!-- <script src="../../static/htmx.min.js"></script> -->
        <script src="https://unpkg.com/htmx.org@1.9.5" type="text/javascript"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
		<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
	</head>
    <body class="container max-w-xl mx-auto">
        <h1 class="font-bold text-2xl my-16">Blogs</h1>
		<h2 class="font-bold text-xl my-8">Create User</h2>
        <form class="grid grid-cols-7 m-4 gap-2">
			<input class="col-span-5 input input-bordered" type="text" name="Email" placeholder="Email"/><br/>
			<input class="col-span-5 input input-bordered" type="text" name="Username" placeholder="Username"/><br/>
			<input class="col-span-5 input input-bordered" type="password" name="Password" placeholder="Password"/><br/>
			<input class="col-span-5 input input-bordered" type="text" name="FirstName" placeholder="First Name"/><br/>
			<input class="col-span-5 input input-bordered" type="text" name="LastName" placeholder="Last Name"/><br/>
			<input class="col-span-5 input input-bordered" type="text" name="Permissions" placeholder="Permissions"/><br/>
            <button class="btn btn-accent col-span-5" 
                hx-post="/v1/admin/CreateAccount" hx-ext='json-enc' hx-headers='{"Authorization": "Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJFbWFpbCI6ImR1eW5uMUBhcHBvdGEuY29tIiwiVXNlcmlkIjoiNjU2ZGY0ZGRjOGM0YzNjNzI0MjNlOTZjIiwiYXV0aG9yaXR5IjoiV1VSWEdCUE9MIiwiZXhwIjoxNzAyMzExMDE3LCJpZHRva2VuIjoiZDAxYTIyNGQtYmU0MC00NDVjLWI0OTctMWUwZjVmYjE1NDQxIn0.fprUHHHcwIh9ksI_JdgWDGIsvIql8h39O8A3cPRGdBPc12vruNWpA0EYwGOgCPFoEE5CSwGjYLJ69jTL-3e4rQ"}'
				hx-ext='json-enc'
				hx-target="#users"
                hx-swap="innerHTML">
                Create User
            </button>
        </form>

		<h2 class="font-bold text-xl my-8">List of Users</h2>
        <div id="users" class="my-8">
            {{ block "Users" . }}
            {{ range . }}
                <div class="grid grid-cols-7 gap-2 mt-4">
                    <p class="col-span-3">
                        {{.ID}}
                        {{.Username	}}
                        {{.LastName}}
                        {{.FirstName}}
                        {{.Permissions}}
                    </p>
                    <button class="btn btn-info btn-info"
                        hx-put="/v1/admin/UserManagement"
                        hx-target="#users"
                        hx-swap="innerHTML">
                        &#x270E;
                    </button>
                    <button class="btn btn-error"
                        hx-delete="/v1/admin/DelateAcount/{{.ID}}"
						hx-headers='{"Authorization": "Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJFbWFpbCI6ImR1eW5uMUBhcHBvdGEuY29tIiwiVXNlcmlkIjoiNjU2ZGY0ZGRjOGM0YzNjNzI0MjNlOTZjIiwiYXV0aG9yaXR5IjoiV1VSWEdCUE9MIiwiZXhwIjoxNzAyMzExMDE3LCJpZHRva2VuIjoiZDAxYTIyNGQtYmU0MC00NDVjLWI0OTctMWUwZjVmYjE1NDQxIn0.fprUHHHcwIh9ksI_JdgWDGIsvIql8h39O8A3cPRGdBPc12vruNWpA0EYwGOgCPFoEE5CSwGjYLJ69jTL-3e4rQ"}'
                        hx-target="#users"
                        hx-swap="innerHTML">
                        &#x2717;
                    </button>
                </div>
            {{ end }}
            {{ end }}
        </div>

	</body>
</html>

